@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headline {
    @apply text-center text-6xl;
  }
  .headline2 {
    @apply text-center text-3xl;
  }
  .btn-primary {
    @apply box-border m-3 p-1 border-2 hover:bg-sky-700 rounded
  }
  .active {
    @apply border bg-slate-300
  }
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
